<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="lockheed.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SENSITIVE SHIT</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div id="links-container">
        <ul id="nav-list">
          <li>Who We Are <img src="./lockheed/dropdown.jpeg" alt="" srcset="" /></li>
          <li>What We Do <img src="./lockheed/dropdown.jpeg" alt="" srcset="" /></li>
          <li>News & Events <img src="./lockheed/dropdown.jpeg" alt="" srcset="" /></li>
          <li>Innovation <img src="./lockheed/dropdown.jpeg" alt="" srcset="" /></li>
          <li>Investors <img src="./lockheed/dropdown.jpeg" alt="" srcset="" /></li>
          <li>Careers <img src="./lockheed/dropdown.jpeg" alt="" srcset="" /></li>
          <li id="globe">
            <img src="./lockheed/globe.jpeg" />
          </li>
          <li id="search">
            <img src="./lockheed/search.jpeg" />
          </li>
        </ul>
      </div>
      <a id="lockheed-logo" href="./lockheed.html"><img src="./lockheed/lm-logo.svg" alt="" srcset="" /></a>
    </nav>
    <main>
      <img src="./lockheed/lockheed1.jpeg" alt="" />
      <img id="content2" src="./lockheed/lockheed2.jpeg" alt="" />
    </main>
  </body>
</html>
